.location__map__container {
  width: 100%;
  position: relative;
  border: 1px solid #e86a12;
  border-radius: 12px;
  overflow: hidden;

  & > ymaps {
    width: 100% !important;
    height: 300px !important;
    & > ymaps {
      width: 100% !important;
      height: 300px !important;
    }
  }
}

.map__location__button {
  background-color: #fff;
  border-color: transparent;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15),
    0 2px 5px -3px rgba(0, 0, 0, 0.15);
  box-sizing: border-box !important;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  background-clip: border-box;
  color: #000;
  vertical-align: middle;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-out,
    border-color 0.15s ease-out, opacity 0.15s ease-out;
  transition: background-color 0.15s ease-out, border-color 0.15s ease-out,
    opacity 0.15s ease-out;
  display: inline-block;
  text-align: left;
  height: 26px;
  min-width: 26px;
  padding: 2px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 1;
}

.cancel__button {
  border-color: #e86a12;
  :hover {
    border-color: #e86a12;
  }
}

.drawer__body {
  height: calc(100% - 62px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
