.card__button {
  border-top-left-radius: 13px;
  border-bottom-right-radius: 13px;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  background-color: #e86a12;
  color: #fff;
  &:hover {
    background-color: #e86a12;
  }
}

.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px !important;
}

.card__body__name {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

.card__body__price {
  font-size: 14px;
  line-height: 14px;
  letter-spacing: 0.25px;
  font-weight: 700;
}

.card__body__description {
  font-size: 14px;
  line-height: 18.2px;
  font-weight: 300;
}
